/* Buttons
  =============== */

// Main button styling
.button {
	display: inline-block;
	line-height: 1;
	border: $button-border-width $button-border-style $button-border-color;
	border-radius: $button-border-radius;
	background: $button-background;
	color: $button-color;
	font-weight: $button-font-weight;
	font-family: $button-font-family;
	font-size: $button-font-size;
	text-transform: $button-text-transform;
	padding: .7rem 1.2rem;
	margin: 0;
	white-space: nowrap;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
}

// Buttons on hover
.button:hover {
	border: $button-border-width $button-border-style darken($button-border-color, 10%);
	background: $button-hover;
	color: $button-color;
	text-decoration: none;
}

// Buttons on focus
.button:focus {
	border: $button-border-width $button-border-style darken($button-border-color, 10%);
	background: darken($button-background, 10%);
	color: $button-color;
	text-decoration: none;
}

// // Apply styles to .button class, button element, and button-based inputs
// #{$buttons} {
// 	@extend %buttons;
// 	&::-moz-focus-inner {
// 		border: 0;
// 		padding: 0;
// 	}
// 	&:hover {
// 		@extend %buttons-hover;
// 	}
// 	&:focus,
// 	&:active {
// 		@extend %buttons-focus;
// 	}
// }

// Secondary button color
.secondary-button,
a.secondary-button {
	color: $secondary-color;
	border: 1px solid $secondary-button-background;
	background: $secondary-button-background;
	&:hover,
	&:focus,
	&:active {
		color: $secondary-button-color-hover;
		border: 1px solid darken($secondary-button-background, 10%);
		background: darken($secondary-button-background, 10%);
	}
}

// Round buttons
.round-button,
a.round-button {
	border-radius: $round-buttons;
}