// Layout

section {
  display: flex;
  padding: 60px 0px;
  background: $background;
  border-bottom: 1px solid $section-border;
}

.section-inverse {
  background: $primary;
  h1,h2,h3 {
    color: $white;
  }
}

.hays-card {
  background-color: $alt;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 1px 8px 2px (rgba(0, 0, 0, 0.5))
  }
  img {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .card-title {
    font-size: 0.9em;
  }
  .card-text {
    font-size: 0.7em;
  }
  .hays-card {
    .button {
      font-size: 0.7em;
    }
  }
}


.hays-block {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.hays-message {
  background-color: $primary;
  color: $white;
  text-align: center;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  #wild {
    font-weight: 700;
    line-height: 1.1;
    font-size: 1.375em;
    text-transform: uppercase;
    letter-spacing: 0;
  }
  p {
    font-size: 0.688em;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 7px;
    margin-bottom: 0;
  }
}

#places {
  h4 {
    font-weight: 300;
    color: $white;
    padding-bottom: $heading-space;
  }
  h3 {
    color: $primary;
  }
}
#hero {
  width: 100%;
  height: 100vh;
  background: url(../../img/narrows.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 275px;
  color: $alt;
  text-shadow: 1px 1px 5px (rgba(0, 0, 0, 0.5));
  border: none;
  .hero-header {
    color: $alt;
    text-shadow: 1px 1px 5px (rgba(0, 0, 0, 0.5));
  }
}

.hero-header {
  font-family: $hays-heading;
  font-size: 3em;
  font-weight: 700;
  color: $primary;
}

.subheader {
  font-family: $hays-heading;
  font-size: 2em;
  font-weight: 500;
}

.about-title {
  max-width: 760px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
  p {
    margin-bottom: 2em;
  }
}

#work-with-us {
  font-size: 2em;
  line-height: 1.1;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0;
}

#mappy {
  margin: 0;
  padding: 0;
}

