// Layout

section {
  display: flex;
  padding: 60px 0px;
  background: $background;
  border-bottom: 1px solid $section-border;
}

.section-inverse {
  background: $primary;
  h1,h2,h3 {
    color: $white;
  }
}

.card {
  max-width: 350px;
  color: $primary;
}

#places {
  h4 {
    font-weight: 300;
    color: $white;
    padding-bottom: $heading-space;
  }
  h3 {
    color: $primary;
  }
}